<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= article.lead %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= article.thumbnail %>
  </p>

  <p>
    <strong>Text content:</strong>
    <%= article.text_content %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= article.media %>
  </p>

  <p>
    <strong>Mood value:</strong>
    <%= article.mood_value %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= article.keywords %>
  </p>

  <p>
    <strong>Is longformat:</strong>
    <%= article.is_longformat %>
  </p>

  <p>
    <strong>Is draft:</strong>
    <%= article.is_draft %>
  </p>

</div>
