<h1>En 360</h1>

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_cont %>
  <%= f.submit "Search" %>
<% end %>

<div>
  <%= sort_link(@q, :category, "Category") %>
  <%= sort_link(@q, :created_at, "Created at") %>
</div>

<div id="articles">
    <% @long_articles.each do |article| %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    <% end %>
</div>
