<main class="article__index">

  <p style="color: green"><%= notice %></p>

  <h1>Articles</h1>

  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont %>

    <%= f.submit "Search" %>
  <% end %>

  <section>
    <div class="container">
      <% @categories.each do |cat| %>
        <%= link_to cat.label, "/articles?q%5Bcategory_label_cont%5D=#{cat.label}&commit=search" %>
      <% end %>

      <%= sort_link(@q, :is_longformat, "Long format") %>
      <%= sort_link(@q, :created_at, "Created at") %>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="articles">
        <% @articles.each do |article| %>
          <%= render article %>
          <p>
            <%= link_to "Show this article", article %>
          </p>
        <% end %>
      </div>
    </div>
  </section>
</main>