<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>

<ul class="share">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" rel="noopener" title="<%= @article.title %>">
      <span>Facebook</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url=<%= request.original_url %>" target="_blank" rel="noopener" title="<%= @article.title %>">
      <span>Linkedin</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text=<%= @article.title %> <%= request.original_url %>" target="_blank" rel="noopener" title="<%= @article.title %>">
      <span>Twitter</span>
    </a>
  </li>
</ul>


<h2>Comments</h2>
<% @article.commentaries.each do |commentary| %>

  <p>
    <strong>Comment:</strong>
    <%= commentary.comment %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.commentaries.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
  
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
