<p style="color: green"><%= notice %></p>



  <p>
    <strong>Content:</strong>
    <%= @article.text_content %>
  </p>


<ul class="share">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" rel="noopener" title="<%= @article.title %>">
      <span>Facebook</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url=<%= request.original_url %>" target="_blank" rel="noopener" title="<%= @article.title %>">
      <span>Linkedin</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text=<%= @article.title %> <%= request.original_url %>" target="_blank" rel="noopener" title="<%= @article.title %>">
      <span>Twitter</span>
    </a>
  </li>
</ul>

<h2>Commentaires</h2>

<% @article.comments.each do |comment| %>
  <div class="comment">
    <strong><%= comment.user.pseudonym %></strong>
    <p><%= comment.body %></p>
  </div>
<% end %>

<h2>Nouveau Commentaire</h2>

<% if user_signed_in? %>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Votre commentaire..." %>
    </div>
    <div class="actions">
      <%= f.submit "Poster le commentaire" %>
    </div>
  <% end %>
<% else %>
  <p>Connectez-vous pour poster un commentaire.</p>
<% end %>