<main class="home">
  
  <section>
    <div class="container">
      <h1>HOME</h1>
    </div>
  </section>
  
  <section class="last-longformat">
    <div class="container">
      <h2>La vulgarisation du jour</h2>
      <% if @long_format_day.present? %>
        <article class="article">
          <div class="content">
            <div class="heading">
              <hgroup>
                <h3><%= link_to @long_format_day.title, @long_format_day %></h3>
                <p><%= @long_format_day.lead %></p>
              </hgroup>
              <div class="categories">
                <%= link_to category_name_from_id(@long_format_day.category_id), category_url_from_id(@long_format_day.category_id) %>
                <span><%= @long_format_day.mood_value %></span>
              </div>
            </div>
            <div class="media">
              <img src="<%= @long_format_day.thumbnail %>">
            </div>
          </div>
        </article>
      <% else %>
        <span>Pas de vulgarisation publié aujourd'hui</span>
      <% end %>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>La dose d'actus du jour</h2>
      <div class="articles">
        <% if @actus_day.any? %>
          <% @actus_day.each do |actus| %>
                <article class="article">
                  <div class="article-content">
                    <hgroup>
                      <h3><%= link_to actus.title, actus %></h3>
                      <p><%= actus.lead.truncate(80) %></p>
                      <p class="more">Consulter l'article</p>
                    </hgroup>
                    <div class="article-meta">
                      <span class="category category-<%= actus.category_id %>">
                        <%= category_name_from_id(actus.category_id) %>
                      </span>
                      <span class="mood"><%= actus.mood_value %></span>
                    </div>
                  </div>
                  <div class="media">
                    <img src="<%= actus.thumbnail %>">
                  </div>
                </article>
          <% end %>
        <% else %>
          <span>Pas d'actus publié aujourd'hui</span>
        <% end %>
      </div>
    </div>
  </section>

</main>
