<main class="category">

  <section>
    <div class="container">
      <h1><%= @category.label %></h1>
    </div>
  </section>

  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont %>

    <%= f.submit "Search" %>
  <% end %>

  <section>
    <div class="container">
      <% @categories.each do |cat| %>
        <%= link_to cat.label, "/articles?q%5Bcategory_label_cont%5D=#{cat.label}&commit=search" %>
      <% end %>
    </div>
  </section>

<% if @articles.where(is_longformat: true).any? %>
  <section>
    <div class="container">
      <h2>Les “en 360”</h2>
      <div class="articles">
        <% @articles.where(is_longformat: true).each do |article| %>
          <article class="article">
            <%= render article %>
          </article>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<% if @articles.where(is_longformat: false).any? %>
  <section>
    <div class="container">
      <h2>Les actus</h2>
      <div class="articles">
        <% @articles.where(is_longformat: false).each do |article| %>
          <article class="article">
            <%= render article %>
          </article>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

</main>
