<header id="document-header">
  <div class="container">
    <a href="/" class="logo">
      <%= image_tag ("logo-black.svg")%>
      <span>Accueil</span>
    </a>
    <% if current_admin %>
      <a href="/admin">Dashboard</a>
    <% end %>
    <% if current_user %>
      <span class="streak">
        <%= image_tag("flame.png") %>
        <%= consecutive_days_of_reading(current_user) %>
      </span>
      <a class="user" href="<%= user_path(current_user) %>">
        <%= current_user.pseudonym %>
        <img src="<%= current_user.avatar %>" class="avatar">
      </a>
    <% end %>
  </div>
</header>