<nav class="header-navigation">
  <%= link_to 'Accueil', root_path, class: 'link-home' %>
  <%= link_to 'Débat du jour', debate_of_the_day_path, class: 'link-debate' %>
  <button type="button" aria-controls="menu" aria-expanded="false" aria-label="Ouvrir / Fermer le menu">
    <span>Menu</span>
  </button>
  <div id="menu">
    <ul>
        <li><%= link_to "En 360", :en_360 %> </li>
        <li><%= link_to "Actus", :actus %> </li>
        <li><%= link_to "Débats", :debates %> </li>
    </ul>
  </div>
</nav>